body{
    background-image: url(cooking.png)
}
.register-box{
    background-color: #FFD8D8;
    width: 540px;
    height: 510px;
    display: flex;
    margin: auto;
    margin-top: 120px;
    border-radius: 45px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px 1px #00000080;
}

input{
    width: 350px;
    height: 20px;
    border-radius: 15px;
    background-color: #F7F1E7;
    padding: 5px;
    
}
.cookingicon{
  margin-left: 110px;
  margin-top: 10px;
}
button{
    width: 150px;
    height: 30px;
    border-radius: 14px;
    background-color: #F7F1E7;
    margin-left: 110px;
}

